# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()
salaries.tail()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
Name                 33183 non-null object
Job Titles           33183 non-null object
Department           33183 non-null object
Full or Part-Time    33183 non-null object
Salary or Hourly     33183 non-null object
Typical Hours        8022 non-null float64
Annual Salary        25161 non-null float64
Hourly Rate          8022 non-null float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

null_cols = salaries.isnull().sum()
null_cols[null_cols>0]

salaries['Salary or Hourly'].unique()

pd.crosstab(index=salaries['Salary or Hourly'],columns="count")

Typical Hours    25161
Annual Salary     8022
Hourly Rate      25161
dtype: int64

array(['Salary', 'Hourly'], dtype=object)

col_0             count
Salary or Hourly
Hourly             8022
Salary            25161

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
pd.crosstab(index=salaries.Department, columns=[salaries['Salary or Hourly'],salaries['Full or Part-Time']])

Salary or Hourly      Hourly       Salary
Full or Part-Time          F     P      F  P
Department
ADMIN HEARNG               0     0     39  0
ANIMAL CONTRL              0    19     62  0
AVIATION                1064    18    547  0
BOARD OF ELECTION          0     0    107  0
BOARD OF ETHICS            0     0      8  0
BUDGET & MGMT              2     0     44  0
BUILDINGS                  0     0    269  0
BUSINESS AFFAIRS           0     7    164  0
CITY CLERK                 0     0     84  0
CITY COUNCIL              15    49    345  2
COMMUNITY DEVELOPMENT      1     3    203  0
COPA                       0     0    116  0
CULTURAL AFFAIRS           7     0     58  0
DISABILITIES               0     0     28  0
DoIT                       0     0     99  0
FAMILY & SUPPORT           1   286    328  0
FINANCE                   42     2    516  0
FIRE                       2     0   4639  0
GENERAL SERVICES         765     0    215  0
HEALTH                     3     0    485  0
HUMAN RELATIONS            0     0     16  0
HUMAN RESOURCES            0     4     75  0
INSPECTOR GEN              0     0     87  0
LAW                       39     1    367  0
LICENSE APPL COMM          0     0      1  0
MAYOR'S OFFICE             7     1     77  0
OEMC                      44  1229    829  0
POLICE                     0    10  13404  0
POLICE BOARD               0     0      2  0
PROCUREMENT                2     0     90  0
PUBLIC LIBRARY            11   288    716  0
STREETS & SAN           1688   174    336  0
TRANSPORTN               725     0    415  0
TREASURER                  0     0     22  0
WATER MGMNT             1513     0    366  0

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
from scipy.stats import ttest_1samp

hourly = salaries[salaries['Salary or Hourly']=='Hourly']

ttest_1samp(hourly['Hourly Rate'], 30.0)
# el p value es compara amb alfa, per defecte 0,05 (95%) si pvalue < alfa, es rebutja la hipotesi
# així doncs, es diferent de 30

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

police = salaries[(salaries['Full or Part-Time']=='F')&(salaries.Department=='POLICE')]

police['Annual Salary'].mean()

ttest_1samp(police['Annual Salary'], 86000.0)
# el p value es compara amb alfa, per defecte 0,05 (95%) si pvalue < alfa, es rebutja la hipotesi
# així doncs, es diferent de 86000.

police['Annual Salary'].mean()

86486.41450313339

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

86486.41450313339

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:

ct = pd.crosstab(index=salaries.Department, columns=[salaries['Salary or Hourly']])

ct = ct.sort_values('Hourly', ascending=False)

ct[:1]

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

complain = salaries[(salaries['Salary or Hourly']=='Hourly')&(salaries.Department=='STREETS & SAN')]

ttest_1samp(complain['Hourly Rate'], 35.0)
# el p value es compara amb alfa, per defecte 0,05 (95%) si pvalue < alfa, es rebutja la hipotesi
# així doncs, es diferent de 35.

complain['Hourly Rate'].mean()

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

33.72837808807734

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:
from scipy import stats;
import math;

hourly = salaries[salaries['Salary or Hourly']=='Hourly']
print(hourly.shape)

def ci_t(pop_mean, zscore, normal_std):
    c1 = pop_mean - zscore * normal_std
    c2 = pop_mean + zscore * normal_std
    return (c1, c2)

score = stats.t.interval(0.95, hourly.shape[0] - 1)[1]
sample_std = np.std(hourly['Hourly Rate'])
print(score, sample_std)

print(ci_t(hourly['Hourly Rate'].mean(), score, sample_std/math.sqrt(hourly.shape[0])))

(8022, 8)
1.9602597859561675 12.111817701093825
(32.52347486867093, 33.053640563889545)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:


score = stats.t.interval(0.95, hourly.shape[0] - 1)[1]
sample_std = np.std(police['Annual Salary'])
print(score, sample_std)

print(ci_t(police['Annual Salary'].mean(), score, sample_std/math.sqrt(hourly.shape[0])))

1.9602597859561675 18271.54668517837
(86086.517993372, 86886.31101289477)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [15]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

count = hourly.shape[0]
nobs = salaries.shape[0]
count
nobs
value = .05
null_hyp = 0.025
stat, pval = proportions_ztest(count, nobs, null_hyp)
print(pval)
# pval < de la null hypotesis , es rebutja

8022

33183

0.0